.checkoutProduct {
  display: flex;
  padding-top: 10px;
  background-color: white;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.checkoutProduct__image:hover {
  transform: scale(1.05);
}

.checkoutProduct__info {
  margin-left: 15px;
}

@media (max-width: 800px) {
  .checkoutProduct__info {
    display: flexbox;
  }
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 900;
  padding-bottom: 5px;
}

.checkoutProduct__image {
  width: 180px;
  height: 150px;
  object-fit: contain;
  transition: transform 50ms ease-out;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__info > button {
  background-color: rgb(243, 210, 126);
  padding: 1px;
  border: 1px solid black;
  color: black;
  margin-top: 30px;
  cursor: pointer;
}
